.order-form {
  margin-bottom: 40px;
  .order-inputs {
    .select-group:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .order-inputs,
  .order-checkouts,
  .order-summary {
    margin-bottom: 20px;
  }

  .order-checkouts {
    .checkout-item:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .order-summary {
    @include flexbox(between);
    dt {
      @include text-style(13, $dark);
      font-weight: 700;
    }
  }

  .button-group {
    @include flexbox;
    button {
      width: 50%;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
