@font-face {
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: 'tohou';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/tohou.eot');
  src: url('./assets/fonts/tohou.eot#iefix') format('embedded-opentype'),
    url('./assets/fonts/tohou.ttf') format('truetype'),
    url('./assets/fonts/tohou.woff') format('woff'),
    url('./assets/fonts/tohou.svg#tohou') format('svg');
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: 'tohou' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-bell:before {
  content: '\e900';
}

.ic-bookmark:before {
  content: '\e901';
}

.ic-bookmark-filled:before {
  content: '\e902';
}

.ic-caret:before {
  content: '\e903';
}

.ic-cart:before {
  content: '\e904';
}

.ic-check:before {
  content: '\e905';
}

.ic-chevron:before {
  content: '\e906';
}

.ic-close:before {
  content: '\e907';
}

.ic-community:before {
  content: '\e908';
}

.ic-expert:before {
  content: '\e909';
}

.ic-lock:before {
  content: '\e90a';
}

.ic-menu:before {
  content: '\e90b';
}

.ic-new:before {
  content: '\e90c';
}

.ic-search:before {
  content: '\e90d';
}

.ic-star:before {
  content: '\e90e';
}

.ic-store:before {
  content: '\e90f';
}
