.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2;

  @include no-scrollbar;
  overflow-x: auto; // 320px(=100vw) 스크롤 <- overflow: auto; <- "320px 보다 가로가 더 긴 요소"

  &-list {
    @include inline-flexbox(
      start
    ); // block 부모의 컨탠츠, inline-block 자신의 컨텐츠 값을 width로 잡는다
    white-space: nowrap; // 한줄유지
    padding: 0 #{$grid-margin - $lnb-link-padding};
    margin-left: -#{$grid-margin};
    height: 40px;
    border-bottom: 1px solid $border;
    // width: max-content; // 자식들의 가질수 있는 최대사이즈 계산 (호환성이슈)
  }
  &-item {
    // flex-shrink: 0; // 본인이 가진 width 값을 유지

    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }
    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: 40px;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }
  }
}
