.lnb {
  overflow-x: auto; // 320px(=100vw) 스크롤 <- overflow: auto; <- "320px 보다 가로가 더 긴 요소"
  &::-webkit-scrollbar {
    display: none;
  }
  &-list {
    @include inline-flexbox(start);
    white-space: nowrap; // 한줄유지
    position: relative;
    left: -8px;
    // width: max-content; // 자식들의 가질수 있는 최대사이즈 계산 (호환성이슈)
  }
  &-item {
    // flex-shrink: 0; // 본인이 가진 width 값을 유지

    &.is-active {
      a {
        color: $blue;
        border-bottom: 2px solid $blue;
      }
    }
    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: 40px;
      padding: 0 8px;
      font-weight: 700;

      .ic-new {
        color: $red;
      }
    }
  }
}
