.lnb {
  $lnb-link-padding: 8px;

  @include no-scrollbar;
  overflow-x: auto; // 320px(=100vw) 스크롤 <- overflow: auto; <- "320px 보다 가로가 더 긴 요소"
  background-color: $white;

  &-list {
    @include inline-flexbox(
      start
    ); // block 부모의 컨탠츠, inline-block 자신의 컨텐츠 값을 width로 잡는다
    white-space: nowrap; // 한줄유지
    padding: 0 #{$grid-margin - $lnb-link-padding};
    margin-left: -#{$grid-margin};
    height: $lnb-height-sm;
    border-bottom: 1px solid $border;
    // width: max-content; // 자식들의 가질수 있는 최대사이즈 계산 (호환성이슈)
  }
  &-item {
    // flex-shrink: 0; // 본인이 가진 width 값을 유지

    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }
    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: $lnb-height-sm;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;

      &:hover {
        color: $blue;
      }
    }
  }

  @include responsive(T) {
    height: $lnb-height-md;
    overflow-x: visible;
    border-bottom: 1px solid $border;
    &-list {
      height: auto;
      padding: 0;
      margin-left: 0;
      border-bottom: 0;
    }
    &-item {
      a {
        @include text-style(14);
        height: $lnb-height-md;
      }
    }
  }
}
